:root {
  font-size: 16px; }

body {
  font-size: 1rem;
  margin: 0;
  -webkit-font-smoothing: antialised; }

header {
  max-width: 1920px;
  height: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 46, 138, 0.9)), to(rgba(0, 166, 122, 0.9))), url("../img/headerBG.png");
  background-image: -webkit-linear-gradient(top, rgba(96, 46, 138, 0.9), rgba(0, 166, 122, 0.9)), url("../img/headerBG.png");
  background-image: linear-gradient(to bottom, rgba(96, 46, 138, 0.9), rgba(0, 166, 122, 0.9)), url("../img/headerBG.png");
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

.hero {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center; }

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 1.5em; }

.logo {
  font-size: 1.88rem;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff; }

.navbar .fa-bars {
  color: #fff;
  font-size: 40px;
  display: none; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
          transform: translateY(-70px);
  -webkit-animation: nav-app 1s ease-out .5s 1 forwards;
          animation: nav-app 1s ease-out .5s 1 forwards; }
  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0; }
    nav ul li {
      list-style-type: none;
      margin-left: 3em;
      padding: 0.6em 0; }
      nav ul li a {
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        font-family: "Montserrat-Regular", arial;
        color: #fff;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      nav ul li:hover {
        color: #00a67a;
        cursor: pointer;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
      nav ul li:hover > a {
        color: #00a67a;
        text-shadow: 1px 1px 5px #333; }
    nav ul .active {
      border-bottom: 3px solid #00a67a; }
      nav ul .active a {
        color: #00a67a; }
  nav .fa {
    color: #fff;
    font-size: 20px;
    margin-left: 2em;
    padding: 0.6em 0; }
    nav .fa:hover {
      cursor: pointer; }

h1 {
  font-family: "KaushanScript-Regular", helvetica;
  font-size: 72px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 2em; }
  h1 span {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 150px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 115px; }
    h1 span:first-child {
      margin-top: 50px; }

hr {
  color: #fff;
  border: 2px solid #fff;
  width: 60px;
  margin-top: 60px; }

.cta {
  text-align: center;
  margin-top: 60px;
  display: inline-block; }
  .cta a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 14px;
    border: 3px solid #fff;
    padding: 0.6em 2.5em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .cta a:hover {
      color: #007355;
      background-color: #fff; }
  .cta:hover {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }

.slider-wrap {
  position: absolute;
  bottom: 0;
  width: 100%; }

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.box {
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  height: 70px;
  border-top: 3px solid #fff;
  line-height: 70px;
  width: 225px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .box:hover, .box .active {
    opacity: 1; }
  .box span {
    font-family: "Montserrat-Regular", arial;
    font-size: 18px; }

.box.active {
  opacity: 1;
  border-top-color: #602e8a; }

@media (max-width: 1090px) {
  .navbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  h1 {
    font-size: 50px;
    font-size: 40px;
    max-width: 800px;
    display: inline-block; }
    h1 span {
      font-size: 120px; }
  header {
    padding: 0 20px;
    height: 100%; }
  .slider-wrap {
    position: relative;
    margin-top: 140px; } }

@media (max-width: 800px) {
  header {
    height: 100%; }
  .logo {
    margin-bottom: 30px; }
  h1 {
    font-size: 40px;
    margin-top: 1em; }
    h1 span {
      font-size: 100px;
      line-height: 90px; }
      h1 span:first-child {
        margin-top: 20px; }
  header {
    padding: 0 20px; }
  hr {
    margin-top: 0; }
  .cta {
    margin-top: 40px; }
  .slider-wrap {
    position: relative;
    margin-top: 90px; } }

@media (max-width: 670px) {
  header {
    height: 100%; }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  nav > .fa {
    display: none; }
  .navbar .fa-bars {
    display: block;
    position: relative;
    cursor: pointer; }
  nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 40px;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    nav > ul li {
      margin-left: 0;
      padding: 5px; }
    nav > ul .active a {
      color: #00a67a;
      border-bottom: none; }
  nav {
    opacity: 0;
    pointer-events: none; }
  .opened > ul {
    height: 100vh;
    opacity: 1;
    pointer-events: all; }
  h1 {
    font-size: 30px;
    max-width: 400px;
    text-align: center;
    display: inline-block; }
    h1 span {
      font-size: 70px;
      line-height: 65px; }
  .slider-wrap {
    position: relative;
    margin-top: 80px; }
  .box {
    font-size: 18px; }
    .box span {
      font-size: 14px; } }

@media (max-width: 465px) {
  header {
    padding: 0; }
  h1 {
    font-size: 25px;
    margin-top: 2em; }
    h1 span {
      font-size: 55px;
      line-height: 55px; }
  .box {
    font-size: 0px; }
    .box span {
      font-size: 12px; } }

@-webkit-keyframes nav-app {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@keyframes nav-app {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'KaushanScript-Regular';
  font-style: normal;
  src: url(../fonts/KaushanScript-Regular.ttf); }

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  src: url(../fonts/Roboto-Regular.ttf); }

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 90px;
  margin-bottom: 100px;
  text-align: center; }

h2 {
  display: inline-block;
  text-align: center;
  -webkit-animation: headingPop 0.5s cubic-bezier(0.64, 0.26, 0.72, 1.2) forwards;
          animation: headingPop 0.5s cubic-bezier(0.64, 0.26, 0.72, 1.2) forwards; }
  h2 span {
    display: block;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase; }
    h2 span:first-child {
      font-family: "KaushanScript-Regular", helvetica;
      font-size: 24px;
      text-transform: none; }

hr {
  border: 2px solid #602e8a;
  margin-top: 40px;
  margin-bottom: 45px; }

.content {
  -webkit-animation: contentPop 0.5s cubic-bezier(0.64, 0.26, 0.72, 1.2) forwards;
          animation: contentPop 0.5s cubic-bezier(0.64, 0.26, 0.72, 1.2) forwards; }

.about {
  height: 100%;
  max-width: 1920px;
  background-color: #fff; }

.text-wrap {
  max-width: 960px;
  text-align: center;
  display: inline-block; }
  .text-wrap p {
    font-size: 15px;
    color: #999;
    font-family: "Roboto-Regular", arial; }

.about-wrap {
  max-width: 1200px;
  height: 100%;
  text-align: center;
  margin: 0 auto; }

.featured {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  aligh-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.img-wrap {
  background-color: #00a67a;
  width: 380px;
  height: 250px; }
  .img-wrap .about-item {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .img-wrap .about-item .info {
      opacity: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(96, 46, 138, 0.9);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-transform: uppercase;
      font-family: "Montserrat-Bold", sans-serif;
      color: #fff;
      font-size: 18px;
      line-height: 2;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: default; }
  .img-wrap:hover > .about-item {
    -webkit-transform: translate3d(-15px, -15px, 0);
            transform: translate3d(-15px, -15px, 0); }
  .img-wrap:hover > .about-item > .info {
    opacity: 1; }
  .img-wrap:nth-child(1) .about-item {
    width: 100%;
    height: 100%;
    background-image: url(../img/teambg.png); }
  .img-wrap:nth-child(2) .about-item {
    width: 100%;
    height: 100%;
    background-image: url(../img/team2bg.png); }
  .img-wrap:nth-child(3) .about-item {
    width: 100%;
    height: 100%;
    background-image: url(../img/team3bg.png); }

.numbers {
  background-color: #00a67a;
  height: 270px;
  padding-top: 0px;
  max-width: 1920px; }
  .numbers .container {
    padding-top: 0; }

.number-wrap {
  height: 100%;
  width: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 2px solid #00c08d; }

.number-wrap:last-child {
  border-right: 2px solid #00c08d; }

.number {
  margin: 0 80px;
  color: #fff;
  font-size: 72px;
  font-family: "Montserrat-Bold", sans-serif; }

.advantageName {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat-Regular", arial; }

.services-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.service-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  max-width: 400px;
  text-align: left;
  padding: 50px 0; }
  .service-wrap i {
    color: #00a67a;
    font-size: 50px;
    padding: 0 20px; }
  .service-wrap h3 {
    text-transform: uppercase;
    color: #000;
    font-family: "Montserrat-Regular", arial;
    font-size: 15px;
    margin-top: 0px; }
  .service-wrap p {
    font-family: "Roboto-Regular", arial;
    font-size: 15px;
    color: #999; }

.service-wrap:nth-child(1) {
  border-bottom: 2px solid #eee; }

.service-wrap:nth-child(2) {
  border-bottom: 2px solid #eee; }

.service-wrap:nth-child(3) {
  border-bottom: 2px solid #eee; }

.allDevices {
  position: relative;
  background-image: url("../img/devicesbg.png");
  background-size: cover;
  background-position: center center;
  padding: 0; }
  .allDevices .content-wrap {
    background-color: rgba(255, 255, 255, 0.85); }
  .allDevices .content img {
    display: block;
    margin: 0 auto; }

.phoneImg {
  position: absolute;
  bottom: 0;
  left: 58%;
  -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
          transform: translateY(60px); }

.portfWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .portfWrap .img-wrap {
    overflow: hidden; }
    .portfWrap .img-wrap:nth-child(1) .about-item {
      width: 100%;
      height: 100%;
      background-image: url(../img/truelender.png);
      background-size: cover; }
    .portfWrap .img-wrap:nth-child(2) .about-item {
      width: 100%;
      height: 100%;
      background-image: url(../img/prucos.png);
      background-size: cover; }
    .portfWrap .img-wrap:nth-child(3) .about-item {
      width: 100%;
      height: 100%;
      background-image: url(../img/fdh.png);
      background-size: cover; }
    .portfWrap .img-wrap:hover > .about-item {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }

@-webkit-keyframes headingPop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes headingPop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes contentPop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes contentPop {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

footer {
  height: 400px;
  background-color: #00a67a; }
  footer .container {
    margin-bottom: 0;
    height: auto;
    color: #fff;
    height: 100%;
    margin: 0 auto;
    padding: 0; }
  footer .content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: space-around;
    -webkit-align-items: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around; }

.sitemap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 2em; }
  .sitemap ul {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
    font-size: 18px; }
    .sitemap ul li {
      display: inline;
      text-align: left;
      margin: 5px 20px; }
      .sitemap ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Montserrat-Regular", arial;
        color: #fff; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px; }
  .contacts p {
    font-family: "Montserrat-Regular", arial;
    font-style: italic;
    font-size: 15px; }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .socials i {
    color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 0 30px; }

.copyR {
  font-family: "Montserrat-Regular", arial;
  border-top: 1px solid #fff; }
