footer
  .container
    .content
      .sitemap
        ul
          li: a(href="") About Us
          li: a(href="") Our Services
          li: a(href="") Featured
          li: a(href="") Portfolio
      
      .socials
        i.fa.fa-facebook-square
        i.fa.fa-google-plus-square
        i.fa.fa-linkedin-square
      
      .contacts        
        p 
          | vesel22@gmail.com |  
          | dev.sitestuff@prucos.com
            
      .copyR 
        p Copyright PRUCOS 2016
