footer#contacts
  .container
    .content
      .sitemap
        ul
          li: a(href="#home") Home
          li: a(href="#about") About Us
          li: a(href="#service") Our Services
          li: a(href="#featured") Featured
          li: a(href="#portfolio") Portfolio
      
      .socials
        a(href="#"): i.fa.fa-facebook-square
        a(href="#"): i.fa.fa-google-plus-square
        a(href="#"): i.fa.fa-linkedin-square
      
      .contacts        
        p 
          | vesel22@gmail.com |  
          | dev.sitestuff@prucos.com
            
      .copyR 
        p Copyright PRUCOS 2016
