header
  .hero
    .navbar
      .logo MoGo
      i.fa.fa-bars
      nav
        ul
          li.active: a(href="#") About
          li: a(href="#") Service
          li: a(href="#") Work
          li: a(href="#") Blog
          li: a(href="#") Contact
        i.fa.fa-shopping-cart
        i.fa.fa-search
    h1 Creative Template
      span Welcome
      span to MoGo
    
    hr(noshade)
    
    .cta: a(href="#") Learn more
    
    .slider-wrap
      .slider
        .box.active 01
          span  Intro
        .box 02
          span  Work
        .box 04
          span  About
        .box 05
          span  Contacts
      
  
