header#home
  .hero
    .navbar
      .logo PruCos
      i.fa.fa-bars
      nav
        ul
          li.active: a(href="#home") Home
          li: a(href="#about") About Us
          li: a(href="#services") Services
          li: a(href="#featured") Featured
          li: a(href="#portfolio") Portfolio          
          li: a(href="#contacts") Contacts
    h1 Need a website?
      span Welcome
      span to Prucos
    
    hr(noshade)
    
    .cta: a(href="#") Learn more
    
    .slider-wrap
      .slider
        .box.active 01
          span  Intro
        .box 02
          span  Work
        .box 04
          span  About
        .box 05
          span  Contacts
      
  
