$mbold: 'Montserrat-Bold', sans-serif
$mreg: 'Montserrat-Regular', arial
$kaushan: 'KaushanScript-Regular', helvetica
$roboto: 'Roboto-Regular', arial

//COLORS
$mainColor: #602e8a
$secondaryColor: #00a67a
